

main{
  min-height: 25px;
  padding: 50px 0;
}  

.footer-site{
  color: black;
  width: 100%;
  bottom: 10px;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
}

pre.ui-distance {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
}

.map { 
  position:center; 
  top:0; 
  bottom:0; 
  width:90%;   
  display: flex;
  align-content: center;
  justify-content: center;
} 